<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <meta name="author" content="Jonathan Pugh">
    <title>{% block title %}{% endblock %} - DefaultWebsite</title>
</head>
<header>
    <h1>{% block heading %}{% endblock %}</h1>
</header>
<body>
    {% block content %}{% endblock %}
	<script type="text/javascript" src="/static/js/main.js"></script>
</body>
<footer>
    Produced by Jonathan Pugh
</footer>
</html>
